In [1]:
import pandas as pd 
import os
import sys

In [6]:
RAW_DATA_PATH = "../data/raw/HouseTS.csv"

In [11]:
df = pd.read_csv(RAW_DATA_PATH)
print(df)

              date  median_sale_price  median_list_price  median_ppsf  \
0       2012-03-31            46550.0           217450.0    31.813674
1       2012-04-30            61870.0           245000.0    40.723982
2       2012-05-31           125500.0           217450.0    63.913043
3       2012-06-30           153000.0           189900.0    81.598080
4       2012-07-31           165500.0           154000.0    81.598080
...            ...                ...                ...          ...
884087  2023-08-31           438000.0           450000.0   313.553299
884088  2023-09-30           449950.0           459900.0   314.024277
884089  2023-10-31           450000.0           449450.0   312.328767
884090  2023-11-30           470000.0           425000.0   312.328767
884091  2023-12-31           440000.0           399949.5   300.469484

        median_list_ppsf  homes_sold  pending_sales  new_listings  inventory  \
0             110.183666        14.0           23.0          44.0       64.0
1             130.528256        22.0           29.0          56.0       69.0
2             119.919216        24.0           40.0          63.0       60.0
3             105.617353        34.0           46.0          50.0       57.0
4              83.921175        39.0           49.0          42.0       50.0
...                  ...         ...            ...           ...        ...
884087        322.866706       185.0          189.0         227.0      132.0
884088        318.285714       192.0          189.0         243.0      170.0
884089        314.374076       187.0          192.0         264.0      185.0
884090        315.315315       175.0          182.0         279.0      213.0
884091        317.925225       161.0          160.0         240.0      223.0

        median_dom  ...  Total Housing Units  Median Rent  Median Home Value  \
0             59.5  ...               2677.0        710.0           279500.0
1             89.5  ...               2677.0        710.0           279500.0
2            144.5  ...               2677.0        710.0           279500.0
3            126.0  ...               2677.0        710.0           279500.0
4             80.0  ...               2677.0        710.0           279500.0
...            ...  ...                  ...          ...                ...
884087        20.0  ...              21949.0       1385.0           289300.0
884088        18.0  ...              21949.0       1385.0           289300.0
884089        21.5  ...              21949.0       1385.0           289300.0
884090        21.0  ...              21949.0       1385.0           289300.0
884091        29.0  ...              21949.0       1385.0           289300.0

       Total Labor Force  Unemployed Population  Total School Age Population  \
0                 3171.0                  460.0                       5408.0
1                 3171.0                  460.0                       5408.0
2                 3171.0                  460.0                       5408.0
3                 3171.0                  460.0                       5408.0
4                 3171.0                  460.0                       5408.0
...                  ...                    ...                          ...
884087           17525.0                  854.0                      37063.0
884088           17525.0                  854.0                      37063.0
884089           17525.0                  854.0                      37063.0
884090           17525.0                  854.0                      37063.0
884091           17525.0                  854.0                      37063.0

        Total School Enrollment  Median Commute Time          price  \
0                        5408.0               2492.0  200773.999557
1                        5408.0               2492.0  202421.064584
2                        5408.0               2492.0  202681.309539
3                        5408.0               2492.0  202998.603897
4                        5408.0               2492.0  203781.903446
...                         ...                  ...            ...
884087                  37063.0              13748.0  438238.668892
884088                  37063.0              13748.0  440569.503271
884089                  37063.0              13748.0  442965.899354
884090                  37063.0              13748.0  444955.530200
884091                  37063.0              13748.0  446862.962247

                               city_full
0       Atlanta-Sandy Springs-Alpharetta
1       Atlanta-Sandy Springs-Alpharetta
2       Atlanta-Sandy Springs-Alpharetta
3       Atlanta-Sandy Springs-Alpharetta
4       Atlanta-Sandy Springs-Alpharetta
...                                  ...
884087   Tampa-St. Petersburg-Clearwater
884088   Tampa-St. Petersburg-Clearwater
884089   Tampa-St. Petersburg-Clearwater
884090   Tampa-St. Petersburg-Clearwater
884091   Tampa-St. Petersburg-Clearwater

[884092 rows x 39 columns]

In [12]:
df.head()

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,Atlanta-Sandy Springs-Alpharetta
1,2012-04-30,61870.0,245000.0,40.723982,130.528256,22.0,29.0,56.0,69.0,89.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202421.064584,Atlanta-Sandy Springs-Alpharetta
2,2012-05-31,125500.0,217450.0,63.913043,119.919216,24.0,40.0,63.0,60.0,144.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202681.309539,Atlanta-Sandy Springs-Alpharetta
3,2012-06-30,153000.0,189900.0,81.598080,105.617353,34.0,46.0,50.0,57.0,126.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202998.603897,Atlanta-Sandy Springs-Alpharetta
4,2012-07-31,165500.0,154000.0,81.598080,83.921175,39.0,49.0,42.0,50.0,80.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,203781.903446,Atlanta-Sandy Springs-Alpharetta

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884092 entries, 0 to 884091
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          884092 non-null  object
 1   median_sale_price             884092 non-null  float64
 2   median_list_price             884092 non-null  float64
 3   median_ppsf                   884092 non-null  float64
 4   median_list_ppsf              884092 non-null  float64
 5   homes_sold                    884092 non-null  float64
 6   pending_sales                 884092 non-null  float64
 7   new_listings                  884092 non-null  float64
 8   inventory                     884092 non-null  float64
 9   median_dom                    884092 non-null  float64
 10  avg_sale_to_list              884092 non-null  float64
 11  sold_above_list               884092 non-null  float64
 12  off_market_in_two_weeks       884092 non-null  float64
 13  city                          884092 non-null  object
 14  zipcode                       884092 non-null  int64
 15  year                          884092 non-null  int64
 16  bank                          884092 non-null  float64
 17  bus                           884092 non-null  float64
 18  hospital                      884092 non-null  float64
 19  mall                          884092 non-null  float64
 20  park                          884092 non-null  float64
 21  restaurant                    884092 non-null  float64
 22  school                        884092 non-null  float64
 23  station                       884092 non-null  float64
 24  supermarket                   884092 non-null  float64
 25  Total Population              884092 non-null  float64
 26  Median Age                    884092 non-null  float64
 27  Per Capita Income             884092 non-null  float64
 28  Total Families Below Poverty  884092 non-null  float64
 29  Total Housing Units           884092 non-null  float64
 30  Median Rent                   884092 non-null  float64
 31  Median Home Value             884092 non-null  float64
 32  Total Labor Force             884092 non-null  float64
 33  Unemployed Population         884092 non-null  float64
 34  Total School Age Population   884092 non-null  float64
 35  Total School Enrollment       884092 non-null  float64
 36  Median Commute Time           884092 non-null  float64
 37  price                         884092 non-null  float64
 38  city_full                     884092 non-null  object
dtypes: float64(34), int64(2), object(3)
memory usage: 263.1+ MB

In [14]:
df.describe()

,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,avg_sale_to_list,...,Total Families Below Poverty,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price
count,8.840920e+05,8.840920e+05,884092.000000,884092.000000,884092.000000,884092.000000,884092.000000,884092.000000,884092.000000,884092.000000,...,884092.000000,884092.000000,884092.000000,8.840920e+05,884092.000000,884092.000000,884092.000000,884092.000000,884092.000000,8.840920e+05
mean,3.941026e+05,4.229849e+05,223.068328,231.169836,76.722786,81.471457,92.910352,77.300772,61.289875,0.978253,...,21457.525088,8714.480844,1146.686284,3.147922e+05,11455.779512,829.769133,20998.337745,20998.337745,9687.919963,3.913289e+05
std,3.815481e+05,1.899201e+06,696.724208,290.120210,76.698331,85.327617,92.695852,89.041772,82.220497,0.063550,...,19554.169658,7588.635086,547.236746,2.672194e+05,10429.516147,954.753745,19008.391216,19008.391216,8841.743137,3.445383e+05
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1.046432e+04
25%,1.850000e+05,1.990000e+05,110.639667,116.818175,19.000000,17.000000,24.000000,20.000000,26.000000,0.965158,...,4404.000000,1930.000000,852.000000,1.436000e+05,2320.000000,127.000000,4369.000000,4369.000000,1945.000000,1.897063e+05
50%,3.025000e+05,3.200000e+05,166.093929,173.142587,55.000000,57.000000,67.000000,50.000000,45.000000,0.982062,...,17489.000000,7426.000000,1114.000000,2.501000e+05,9299.000000,538.000000,17247.000000,17247.000000,7830.500000,3.050190e+05
75%,4.800000e+05,4.999000e+05,260.626280,270.181473,111.000000,119.000000,133.000000,103.000000,74.000000,0.998206,...,32991.000000,13564.000000,1446.000000,4.125000e+05,17702.000000,1192.000000,32290.000000,32290.000000,15013.000000,4.797111e+05
max,2.050000e+07,1.000000e+09,366700.000000,143015.398551,955.000000,1374.000000,1112.000000,1941.000000,7777.000000,1.906250,...,130605.000000,48734.000000,3501.000000,2.000001e+06,68735.000000,9735.000000,126948.000000,126948.000000,60956.000000,8.463116e+06